{{include('pages/inc/header.html.twig')}}
  <br/>
  
  <h3>View Tag</h3>

  <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">TAG</a>
  <a href="#" class="list-group-item list-group-item-action"><b>Name :</b> {{ tagData.name }}</a>
  <a href="#" class="list-group-item list-group-item-action"><b>Posts :</b>
  <div>
  {% set id = 1 %}
  {% for postdata in tagData.posts %}
      <p>{{id}} . {{ postdata.title }}<br>
      <b>Comments :</b>
       <ul>
        {% for commentdata in postdata.comments %}
         <li>{{ commentdata.comment }}  (at {{commentdata.createdAt|date("d F, Y H:i:s")}})</li>
       {% endfor %}
       </ul>
      </p>

  {% set id = id + 1 %}
  {% endfor %}
  </div>
   </a>

{{include('pages/inc/footer.html.twig')}}
