{{include('pages/inc/header.html.twig')}}
  
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.2/select2.css" type="text/css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.2/select2.min.js" type="text/javascript" ></script>

  <a href="{{ absolute_url(asset('')) }}post" class="btn btn-primary btn-xs">Back</a>
  <h3>Create Post<small> (Custom Form)</small></h3>

 {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="row form-group">
     {{ form_label(form.title, '', { 'label_attr': {'class': 'control-label col-md-2'} }) }}
     <div class="col-md-10">
        {{ form_widget(form.title) }}
      </div>
      {{ form_errors(form.title) }}
    </div>

    <div class="row form-group">
      {{ form_label(form.description, '', { 'label_attr': {'class': 'control-label col-md-2'} }) }}
      <div class="col-md-10">
        {{ form_widget(form.description) }}
      </div>
      {{ form_errors(form.description) }}
    </div>

    <div class="row form-group">
      {{ form_label(form.category, '', { 'label_attr': {'class': 'control-label col-md-2'} }) }}
      <div class="col-md-10">
        {{ form_widget(form.category) }}
      </div>
      {{ form_errors(form.category) }}
    </div>

    <div class="row form-group">
      {{ form_label(form.tags, '', { 'label_attr': {'class': 'control-label col-md-2'} }) }}
      <div class="col-md-10">
        {{ form_widget(form.tags) }}
      </div>
      {{ form_errors(form.tags) }}
    </div>
    

    <div class="row form-group">
      {{ form_label(form.image, '', { 'label_attr': {'class': 'control-label col-md-2'} }) }}
      <div class="col-md-10">
        {{ form_widget(form.image) }}
      </div>
      {{ form_errors(form.image) }}
    </div>

    <div class="row form-group">        
      <div class="col-md-offset-2 col-md-10">
        {{ form_widget(form.save) }}
      </div>
    </div>
  
  {{ form_widget(form._token) }} 
  <script>
  $(document).ready(function(){
  $("#form_tags").select2();
  });
  </script>
  {{include('pages/inc/footer.html.twig')}}