{{include('pages/inc/header.html.twig')}}
  <a href="{{ absolute_url(asset('')) }}post" class="btn btn-primary btn-xs">Back</a>
  <h3>Create Post</h3>

 {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="row form-group">
     {{ form_label(form.title, '', { 'label_attr': {'class': 'control-label col-md-2'} }) }}
     <div class="col-md-10">
        {{ form_widget(form.title) }}
      </div>
      {{ form_errors(form.title) }}
    </div>

    <div class="row form-group">
      {{ form_label(form.description, '', { 'label_attr': {'class': 'control-label col-md-2'} }) }}
      <div class="col-md-10">
        {{ form_widget(form.description) }}
      </div>
      {{ form_errors(form.description) }}
    </div>

    <div class="row form-group">
      {{ form_label(form.category, '', { 'label_attr': {'class': 'control-label col-md-2'} }) }}
      <div class="col-md-10">
        {{ form_widget(form.category) }}
      </div>
      {{ form_errors(form.category) }}
    </div>

    <div class="row form-group">
      {{ form_label(form.image, '', { 'label_attr': {'class': 'control-label col-md-2'} }) }}
      <div class="col-md-10">
        {{ form_widget(form.image) }}
      </div>
      {{ form_errors(form.image) }}
    </div>

    <div class="row form-group">        
      <div class="col-md-offset-2 col-md-10">
        {{ form_widget(form.save) }}
      </div>
    </div>
  
  {{ form_widget(form._token) }} 

  {{include('pages/inc/footer.html.twig')}}